.body-reg-l {
  font-size: 20px;
}
.body-reg-m {
  font-size: 16px;
}

p {
  font-family: "Open Sans", serif;
  color: #3e3d39;
}

nav {
  background-color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 0px 96px 0px 96px;
  font-family: "Open Sans", serif;
}

.nav-link {
  margin-right: 128px;
  color: black !important;
  padding: 0px !important;
}
col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.container {
  padding: 106px;
  text-align: center;
}

.wrapper {
  padding: 48px 96px 48px 96px;
}

.gif-small {
  width: 200px;
  height: auto;
  border-radius: 100%;
}

section {
  background-color: #ffedd4;
}

img {
  display: block;
  max-width: 100%;
}
